
body {
    font-family: 'Calibri';
    color: #212529;
    /* background-color: #83D1E1; */
}

.navbar {
    font-family: 'Consolas';
    width: 30%;
}

table {
    border-collapse: collapse;
    border-color: #212529;
    border-width: thin;
    table-layout: auto;
}

td {
    font-family: 'Calibri';
    background-color: #83D1E1;
    color: #212529;
}

th {
    font-family: 'Consolas';
    background-color: #0E8EA8;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
}

#clock_time {
    padding: 5px;
    font-size: 14px;
    justify-content: flex-end;
    margin-right: 5px;
    width: 30%;
}

.row-buttons-input {
    /* float the buttons within this div to the extreme right and left */
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    width: 100%;
    
}

.table_head_row {
    background-color: #212529;
    color: #fff;
}

#clear_btn {
    float: right;
    background-color: #f44336;
    border-radius: 5px;
    margin-right: 5px;

}

#add_button {
    float: right;
    background-color: #4CAF50;
    border-radius: 5px;
    margin-right: 5px;
}
